.cursor-pointer {
  cursor: pointer;
}
.day-card.active {
  background-color: #444;
  border: 1px solid #00bc8c;
}
.weather-icon {
  width: 50px;
  height: 50px;
}

.error-container {
  text-align: center;
  padding: 50px;
}
.error-img {
  max-width: 200px;
  margin-bottom: 20px;
}
